<div class="footer-newsletter">
    <h5 class="footer-newsletter__title">Boletin informativo</h5>
    <div class="footer-newsletter__text">
        Es una vida amante de la diversión, el autor de la vida del pulvinar mollis felis en Lacinia.
    </div>

    <form action="" class="footer-newsletter__form">
        <label class="sr-only" for="footer-newsletter-address">Email Address</label>
        <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="Email Address...">

        <button class="footer-newsletter__form-button btn btn-primary">Subscribe</button>
    </form>

    <div class="footer-newsletter__text footer-newsletter__text--social">
        Síguenos en redes sociales
    </div>

    <app-social-links class="footer-newsletter__social-links" shape="circle"></app-social-links>
</div>
