<app-page-header [header]="'Mi cuenta'" [breadcrumbs]="[
    {label: 'Home',       url: '/'},
    {label: 'Mi cuenta', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <div class="card flex-grow-1 mb-md-0">
                    <div class="card-body">
                        <h3 class="card-title">Iniciar Sesión</h3>
                        <form [formGroup]="loginForm">
                            <div class="form-group">
                                <label>Correo Electronico</label>
                                <input type="email" class="form-control" placeholder="Correo electronico"
                                    formControlName="e_mail_cliente"
                                    [class.is-invalid]="(loginForm.controls.e_mail_cliente|isInvalid)">
                                <div class="invalid-feedback">
                                    <div *ngIf="loginForm.controls.e_mail_cliente|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label>
                                <input type="password" class="form-control" placeholder="Contraseña"
                                    formControlName="password_usuario"
                                    [class.is-invalid]="(loginForm.controls.password_usuario|isInvalid)">

                                <div class="invalid-feedback">
                                    <div *ngIf="loginForm.controls.password_usuario|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <button type="button" [class.btn-loading]="loginInProgress" (click)="IngresarCliente()"
                                class="btn btn-primary mt-2 mt-md-3 mt-lg-4">Ingresar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex mt-4 mt-md-0">
                <div class="card flex-grow-1 mb-0">
                    <div class="card-body">
                        <form [formGroup]="Formregistrar">
                            <h3 class="card-title">Registrar</h3>
                            <div class="form-group">
                                <label>Nombre <strong class="text-danger">(*)</strong> </label>
                                <input type="text" formControlName="nombre_cliente"
                                    [class.is-invalid]="(Formregistrar.controls.nombre_cliente|isInvalid)"
                                    class="form-control" placeholder="Nombre del cliente">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.nombre_cliente|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Apellidos <strong class="text-danger">(*)</strong> </label>
                                <input type="text" class="form-control" formControlName="apellidos_cliente"
                                    [class.is-invalid]="(Formregistrar.controls.apellidos_cliente|isInvalid)"
                                    placeholder="Apellidos del cliente">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.apellidos_cliente|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Correo electronico <strong class="text-danger">(*)</strong> </label>
                                <input type="email" class="form-control" formControlName="e_mail_cliente"
                                    [class.is-invalid]="(Formregistrar.controls.e_mail_cliente|isInvalid)"
                                    placeholder="Ingresar email">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.e_mail_cliente|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                    <div *ngIf="Formregistrar.controls.e_mail_cliente|hasError:'email'">
                                        {{ 'Email Invalido' }}
                                    </div>
                                    <span *ngIf="Formregistrar.get('e_mail_cliente')?.hasError('correoEnUso') && Formregistrar.get('e_mail_cliente')?.touched">El correo electronico está en uso.</span>    
                                </div>
                            </div>
                            <div class="form-group">
                                <label>N° de documento <strong>DNI</strong> <strong
                                        class="text-danger">(*)</strong></label>
                                <input type="text" class="form-control" (keypress)="valideKey($event);"
                                    formControlName="dni_cliente" placeholder="N° documento"
                                    [class.is-invalid]="(Formregistrar.controls.dni_cliente|isInvalid)">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.dni_cliente|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                    <span *ngIf="Formregistrar.get('dni_cliente')?.hasError('dniEnUso') && Formregistrar.get('dni_cliente')?.touched">El DNI está en uso.</span>    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Departamento">Departamento <strong class="text-danger">(*)</strong></label>
                                <ng-select (change)="Provincias($event)" [clearable]="false"
                                    [class.is-invalid]="(Formregistrar.controls.idDepartamento|isInvalid)"
                                    formControlName="idDepartamento">
                                    <ng-option value="">Seleccionar Departamento</ng-option>
                                    <ng-option *ngFor="let item of Departamento_cliente" [value]="item.idDepartamento">
                                        {{item.departamento}}</ng-option>
                                </ng-select>
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.idDepartamento|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Provincia <strong class="text-danger">(*)</strong></label>
                                <ng-select [clearable]="false" (change)="SeleccionarProvincia($event)"
                                    [class.is-invalid]="(Formregistrar.controls.idProvincia|isInvalid)"
                                    formControlName="idProvincia">
                                    <ng-option value="">Seleccionar Provincia</ng-option>
                                    <ng-option *ngFor="let item of Provincia_cliente" [value]="item.idProvincia">
                                        {{item.provincia}}</ng-option>
                                </ng-select>
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.idProvincia|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Distrito <strong class="text-danger">(*)</strong></label>
                                <ng-select [clearable]="false"
                                    [class.is-invalid]="(Formregistrar.controls.idDistrito|isInvalid)"
                                    formControlName="idDistrito">
                                    <ng-option value="">Seleccionar Distrito</ng-option>
                                    <ng-option *ngFor="let item of distritos" [value]="item.idDistrito">
                                        {{item.distrito}}</ng-option>
                                </ng-select>
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.idDistrito|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" formControlName="direccion_cliente"
                                    placeholder="Direccion del cliente">
                            </div>
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="text" class="form-control" formControlName="telefono_cliente"
                                    placeholder="Telefono del cliente">

                            </div>
                            <div class="form-group">
                                <label>Celular <strong class="text-danger">(*)</strong> </label>
                                <input type="text" class="form-control"
                                    [class.is-invalid]="(Formregistrar.controls.celular_cliente|isInvalid)"
                                    formControlName="celular_cliente" placeholder="Celular del cliente">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.celular_cliente|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contraseña <strong class="text-danger">(*)</strong> </label>
                                <input type="password" class="form-control"
                                    [class.is-invalid]="(Formregistrar.controls.password|isInvalid)"
                                    formControlName="password" placeholder="Contraseña">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.password|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Repetir Contraseña <strong class="text-danger">(*)</strong> </label>
                                <input type="password" class="form-control"
                                    [class.is-invalid]="(Formregistrar.controls.confirmPassword|isInvalid)"
                                    formControlName="confirmPassword" placeholder="Repetir Contraseña">
                                <div class="invalid-feedback">
                                    <div *ngIf="Formregistrar.controls.confirmPassword|hasError:'required'">
                                        {{ 'Campo Obligatorio' }}
                                    </div>
                                    <div *ngIf="Formregistrar.controls.confirmPassword|hasError:'mustMatch'">
                                        {{"No concide la contraseña" }}
                                    </div>
                                </div>
                            </div>
                            <button type="button" (click)="GuardarClienteRegistro()"
                                class="btn btn-primary mt-2 mt-md-3 mt-lg-4">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>