<div class="post-card" [ngClass]="{
    'post-card--layout--grid': ['grid-nl', 'grid-lg'].includes(layout || ''),
    'post-card--layout--list': ['list-nl', 'list-sm'].includes(layout || ''),

    'post-card--size--nl': ['grid-nl', 'list-nl'].includes(layout || ''),
    'post-card--size--lg': layout === 'grid-lg',
    'post-card--size--sm': layout === 'list-sm'
}">
    <div class="post-card__image">
        <a appClick target="_blank"  href="https://api.whatsapp.com/send?phone=+51{{store.phone}}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre la promoción {{post.titulo_promocion}}">
            <img [src]="post.url_promocion" alt="">
        </a>
    </div>
    <div class="post-card__info">
        <div class="post-card__name">
            <a appClick target="_blank" href="https://api.whatsapp.com/send?phone=+51{{store.phone}}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre la promoción {{post.titulo_promocion}}">{{ post.titulo_promocion }}</a>
        </div>
        <div class="post-card__date">Promocion hasta {{ post.fecha_promocion | date:"dd/MM/yyyy" }}</div>
        <div class="post-card__content" [innerHTML]="post.descripcion_promocion"></div>
        <div class="post-card__read-more">
            <a appClick href="https://api.whatsapp.com/send?phone=+51{{store.phone}}&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre la promoción {{post.titulo_promocion}}"  class="btn btn-secondary btn-sm">Read More</a>
        </div>
    </div>
</div>
