<div class="product product--layout--{{ layout }}" *ngIf="product">
    <div class="product__content">
        <!-- .product__gallery -->
        <div class="product__gallery">
            <app-product-gallery [productLayout]="layout" [images]="product.images"></app-product-gallery>
        </div>
        <!-- .product__gallery / end -->
        <!-- .product__info -->
        <div class="product__info">
            <div class="product__wishlist-compare">
                <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip"
                    data-placement="right" title="Wishlist" appClick (click)="addToWishlist()"
                    [ngClass]="{'btn-loading': addingToWishlist}">
                    <app-icon name="wishlist-16" size="16"></app-icon>
                </button>
                <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip"
                    data-placement="right" title="Compare" appClick (click)="addToCompare()"
                    [ngClass]="{'btn-loading': addingToCompare}">
                    <app-icon name="compare-16" size="16"></app-icon>
                </button>
            </div>
            <h1 class="product__name">{{ product.name }}</h1>
            <!-- <div class="product__rating">
                <div class="product__rating-stars">
                    <app-rating [value]="product.rating"></app-rating>
                </div>
                <div class="product__rating-legend">
                    <a href="" appClick>{{ product.reviews }} Reviews</a><span>/</span><a href="" appClick>Write A Review</a>
                </div>
            </div> -->
            <div class="product__description" [outerHTML]="product.descripcion">

            </div>
            <!--clase:product__features -->
            <ul class="product__description" *ngIf="product.especificaciones.length>0">
                <li *ngFor="let item of product.especificaciones">{{item.name}}: {{item.value}}</li>
            </ul>
            <ul class="product__meta">
                <li class="product__meta-availability">Disponibilidad: <span class="text-success">Con Stock</span></li>
                <li>Marca: <a href="" appClick>Wakita</a></li>
                <li>SKU: {{ product.sku }}</li>
            </ul>
        </div>
        <!-- .product__info / end -->
        <!-- .product__sidebar -->
        <div class="product__sidebar">
            <div class="product__availability">
                Disponibilidad:
                <ng-container *ngIf="product.stock>0; else elseTemplate">
                    <span class="text-success">Con Stock</span>
                </ng-container>
                <ng-template #elseTemplate>
                    <span class="text-danger">Sin Stock</span>
                </ng-template>


            </div>

            <div class="product__prices">
                <ng-container *ngIf="product.compareAtPrice">
                    <span class="product__new-price">{{ product.price|currencyFormat }}</span>{{ ' ' }}
                    <span class="product__old-price">{{ product.compareAtPrice|currencyFormat }}</span>
                </ng-container>
                <ng-container *ngIf="!product.compareAtPrice">
                    {{ product.price|currencyFormat }}
                </ng-container>
            </div>
            <!-- .product__options -->
            <form class="product__options">
                <div class="form-group product__option">
                    <label class="product__option-label">Color</label>
                    <div class="input-radio-color">
                        <div class="input-radio-color__list">
                            <ng-container *ngFor="let item of product.attributes[0].values">
                                <label class="input-radio-color__item input-radio-color__item--white"
                                    style="color:{{item.hexadecimal}}" data-toggle="tooltip" title="{{item.name}}">
                                    <input [value]="item.id_producto_color" [(ngModel)]="id_producto_color" type="radio" name="color">
                                    <span></span>
                                </label>
                            </ng-container>

                            <!-- <label class="input-radio-color__item input-radio-color__item--white" style="color: #fff;" data-toggle="tooltip" title="White">
                                <input type="radio" name="color">
                                <span></span>
                            </label>
                            <label class="input-radio-color__item" style="color: #ffd333;" data-toggle="tooltip" title="Yellow">
                                <input type="radio" name="color">
                                <span></span>
                            </label>
                            <label class="input-radio-color__item" style="color: #ff4040;" data-toggle="tooltip" title="Red">
                                <input type="radio" name="color">
                                <span></span>
                            </label>
                            <label class="input-radio-color__item input-radio-color__item--disabled" style="color: #4080ff;" data-toggle="tooltip" title="Blue">
                                <input type="radio" name="color" disabled>
                                <span></span>
                            </label> -->
                        </div>
                    </div>
                </div>
                <div class="form-group product__option" *ngIf="product.atributo_producto.length>0">
                    <label class="product__option-label">TALLA</label>
                    <div class="input-radio-label">
                        <div class="input-radio-label__list">
                            <label *ngFor="let item of product.atributo_producto">
                                <input [(ngModel)]="id_atributo_producto" type="radio" name="material" [value]="item.id_atributo_producto">
                                <span>{{item.glosa_atributo}}</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group product__option" *ngIf="product.stock>0">
                    <label class="product__option-label">Cantidad</label>
                    <div class="product__actions">
                        <div class="product__actions-item">
                            <app-input-number aria-label="Quantity" class="product__quantity" size="lg" [min]="1"
                                [formControl]="quantity"></app-input-number>
                        </div>
                        <div class="product__actions-item product__actions-item--addtocart">
                            <button type="button" class="btn btn-primary btn-lg"
                                [ngClass]="{'btn-loading': addingToCart}" appClick (click)="addToCart()">Añadir a la
                                cesta</button>
                        </div>
                        <!-- <div class="product__actions-item product__actions-item--wishlist">
                            <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Wishlist"
                                    [ngClass]="{'btn-loading': addingToWishlist}"
                                    appClick (click)="addToWishlist()">
                                <app-icon name="wishlist-16" size="16"></app-icon>
                            </button>
                        </div>
                        <div class="product__actions-item product__actions-item--compare">
                            <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Compare"
                                    [ngClass]="{'btn-loading': addingToCompare}"
                                    appClick (click)="addToCompare()">
                                <app-icon name="compare-16" size="16"></app-icon>
                            </button>
                        </div> -->
                    </div>
                </div>
            </form>
            <!-- .product__options / end -->
        </div>
        <!-- .product__end -->
        <div class="product__footer ">
            <!-- <div class="product__tags tags">
                <div class="tags__list">
                    <a href="" appClick>Mounts</a>
                    <a href="" appClick>Electrodes</a>
                    <a href="" appClick>Chainsaws</a>
                </div>
            </div> -->

            <app-share-buttons class="product__share-buttons"
                [buttons]="['facebook', {type: 'twitter', label: 'Tweet'}, 'pinterest']"
                [pageUrl]="root.product(product)|absoluteUrl:'angular'" [pageTitle]="product.name"
                [pageImage]="product.images[0]|absoluteUrl:'html'"></app-share-buttons>
        </div>
    </div>
</div>