.color-yap{
    background: #4c9c25;
    border-color: #53c01e;
}
.color-tab{
   background: #F5F6F7;
   border-color: #DDDDDD;
}
.color-border{
    border: 1px solid #4c9c25;
    padding: 19px;
    border-radius: 1rem;
}